name: Build tun2socks (ARM64)

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y git cmake ninja-build clang make gcc g++ pkg-config

    - name: Clone badvpn source
      run: |
        git clone https://github.com/ambrop72/badvpn

    - name: Build tun2socks (ARM64)
      run: |
        cd badvpn
        mkdir build
        cd build

        cmake .. \
          -DBUILD_NOTHING_BY_DEFAULT=1 \
          -DBUILD_TUN2SOCKS=1 \
          -DBUILD_SHARED_LIBS=ON \
          -DCMAKE_POSITION_INDEPENDENT_CODE=ON \
          -DCMAKE_BUILD_TYPE=Release \
          -DCMAKE_SYSTEM_NAME=Android \
          -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a \
          -DCMAKE_ANDROID_NDK=$ANDROID_NDK_HOME \
          -DCMAKE_ANDROID_STL_TYPE=c++_static \
          -DCMAKE_ANDROID_API=21

        make -j$(nproc)

    - name: Prepare output
      run: |
        mkdir out
        cp badvpn/build/libtun2socks.so out/

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: libtun2socks-arm64
        path: out/libtun2socks.so
